
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Inscrire un nouveau joueur", "Create", "Player") <br/>
@Html.ActionLink("Mettre à jour un joueur", "Index", "Player")<br/>

@Html.ActionLink("Mettre à jour un personnage", "Index", "Character")<br/>


