@model AMF.Web.Areas.Admin.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Username, "Nom d'usager")
        </div>
        <div class="col-md-4">
            @Html.EditorFor(x => x.Username)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Password, "Mot de passe")
        </div>
        <div class="col-md-4">
            @Html.EditorFor(x => x.Password)
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Connection"/>
}

