@model AMF.Web.Areas.Admin.ViewModels.CharacterViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Créer un nouveau personnage</h2>

<!-- ko with : $root.CreateCharacter -->
@using (Html.BeginForm("Create", "Character"))
{
    <div class="col-md-9">
        <div class="row form-group">
            <div class="col-md-4">
                <label>Nom du personnage</label>
            </div>
            <div class="col-md-4">
                <input id="CharacterName" name="CharacterName" class="form-control" type="text" data-bind="textInput : characterName" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Race</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" data-bind="options : racesAvailable, optionsText : 'name', value: selectedRace"></select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Languages</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" data-bind="options : languagesAvailable, optionsText: 'text', value: selectedLanguage"></select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <!-- ko foreach : self.skills.categories-->
                    <li role="presentation">
                        <a role="tab" data-toggle="tab"
                           data-bind="attr: {href : '#' + $data.name }, text : $data.name"></a>
                    </li>
                    <!-- /ko -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- ko foreach : { data : self.skills.categories, as: 'cat'}-->
                    <div role="tabpanel" class="tab-pane" data-bind="attr : {id : $data.name }">

                        <div class="col-md-6">
                            <h4>Compétences</h4>

                            <input type="checkbox"  data-bind="value : cat, checked: self.skills.unlockedCats, enable: self.skills.catAvailable(cat) "/>
                            Sélectionner<br/>

                            <input type="checkbox" data-bind="value : cat.mastery, checked: self.skills.unlockedCats, enable: self.skills.catAvailable(cat.mastery) "/>
                            Maîtrise<br/>

                            <!-- ko foreach : { data : cat.skills, as: 'skill'} -->
                            <input type="checkbox" data-bind="value : skill, checked: self.skills.selectedSkills, enable : self.skills.isAvailable(skill)"/>
                            <!--ko text : skill.name--><!--/ko--><br/>
                            <!--/ko-->
                        </div>
                        <div class="col-md-6">
                            <h4>Héritage</h4>
                            <!-- ko foreach : { data : cat.legacies, as: 'legacy'}-->
                            <div class="col-md-6">
                                <!-- ko foreach : { data : legacy.skills, as: 'legacySkill' } -->
                                <input type="checkbox"
                                       data-bind="enable : self.legacyAvail(legacySkill), checked: self.legacySkills, value : legacySkill" />
                                <!-- ko text : legacySkill.name --><!--/ko--><br/>
                                <!-- /ko-->
                            </div>
                            <!-- /ko-->
                        </div>
                    </div>
                    <!-- /ko -->
                </div>

            </div>
        </div>    
    </div>

    <div class="col-md-3">
        <!-- ko if : self.errors().length > 0-->
        <div class="row" style="color:red">
            <label>Éléments manquants</label>
            <ul>
                <!-- ko foreach : self.errors() -->
                <li><!-- ko text : $data--><!--/ko--></li>
                <!-- /ko-->
            </ul>            
        </div>
        <!--/ko-->

        <div class="row">
            <label>Compétences passives</label>
            <ul>
                <!-- ko foreach : self.skills.selectedPassives()-->
                <li><!-- ko text : $data.name--> <!--/ko--></li>
                <!-- /ko-->
            </ul>
        </div>
        <div class="row">
            <label>Compétences Raciales</label>
            <ul>
                <!-- ko foreach : self.selectedRacials()-->
                <li><!-- ko text : $data.name--> <!--/ko--></li>
                <!-- /ko-->
            </ul>
        </div>
        <div class="row">
            <label>Compétences</label>
            <ul>
                <!-- ko foreach : self.skills.selectedSkills()-->
                <li><!-- ko text : $data.name--> <!--/ko--></li>
                <!-- /ko-->
            </ul>
        </div>
        <div class="row">
            <label>Compétences d'héritage</label>
            <ul>
                <!-- ko foreach : self.legacySkills()-->
                <li><!-- ko text : $data.name--> <!--/ko--></li>
                <!-- /ko-->
            </ul>
        </div>
    </div>

    <div class="row col-md-12">
        @Html.HiddenFor(x => x.PlayerId)
        <input id="SelectedRace" name="SelectedRace" style="display: none" data-bind="value : self.selectedRace().id"/>

        <!--ko foreach : self.skills.selectedSkills()-->
        <input id="SelectedSkills" name="SelectedSkills" style="display: none" data-bind="value : $data.id" />
        <!--/ko-->

        <!-- ko foreach: self.skills.unlockedCats()-->
        <input id="SelectedCategories" name="SelectedCategories" style="display: none" data-bind="value : $data.catId" />
        <!-- /ko-->

        <!-- ko foreach: self.legacySkills()-->
        <input id="SelectedLegacySkills" name="SelectedLegacySkills" style="display: none" data-bind="value : $data.id" />            
        <!-- /ko-->

        <input type="submit" value="Enregistrer" class="btn btn-primary" data-bind="attr : {disabled : !formIsValid() }, css : {disabled : !formIsValid()}"/>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}

<!-- /ko -->



